/*small *******************************************************************************************************/
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /*medium *******************************************************************************************************/
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /*large *******************************************************************************************************/
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
body {
    background-color: hsl(257, 40%, 49%);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/bg-desktop.svg);
}
@media (max-width: 375px) {
    body {
        background-image: url(../images/bg-mobile.svg);
        background-size: contain;
        background-repeat: no-repeat;    
    }
}
* {
    box-sizing: border-box;
}
a {
    cursor: pointer;
    text-decoration: none;
}
.container {
    padding-left :40px;
    padding-right: 40px;
}
.header {
margin-top: 30px;

}
.header img {
    width: 200px;
}
/*start ofmain**************************************************************************************************/
.main {
    margin-top: 30px;
    height: fit-content;
}
.main .container {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .main .container {
        flex-direction: column;
    } 
    
}
.main .container > * {
    flex-basis: 45%;
    align-self: center;
}
.main .container .design img {
    width: 100%;
}
@media (max-width: 768px) {
    .main .container .design img {
        width : 100%
    }
}
@media (max-width: 768px) {
    .main .container .description {
        text-align: center;
    } 
}
.main .container .description h1 {
font-family: 'Poppins', sans-serif; 
font-weight: 500; 
font-size:1.5em; 
line-height: 45px;
color : #ffffff;
}
.main .container .description p {
font-family:'Open Sans', sans-serif;
font-weight: 400;
color : #ffffff;
line-height: 25px;
font-size: 14px;
margin-bottom: 30px;
}
.main .container .description a {
 color : hsl(257, 40%, 49%);
 font-family:'Open Sans', sans-serif;
 background-color: #ffffff;
 padding: 10px 50px;
 border-radius: 50px;
 transition : 0.3s
}
.main .container .description a:hover {
    color : #ffffff;
    background-color: hsl(300, 69%, 71%);
}
.footer {
    margin-top: 30px;
    margin-bottom: 30px
}

.footer .container {
    display: flex;
    justify-content: right;
}
@media (max-width: 768px) {
    .footer .container {
        justify-content: center;
    }
}
.footer .container  .social i {
    font-size: 20px;
    margin-right: 15px;
    color : #ffffff;
    border: solid 1px #ffffff;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
}
.footer .container  .social i:nth-child(1) {
    padding: 10px 15px
}
.footer .container  .social i:hover {
    color : hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}